@font-face {
    font-family: "mevera";
    src: url(./fonts/MevaraTrial-Regular.otf);
}
@font-face {
    font-family: "yesno";
    src: url(./fonts/YesYesNo.ttf);
}
@font-face {
    font-family: "mollani";
    src: url(./fonts/Mollani-Regular.ttf);
}
@font-face {
    font-family: "griff";
    src: url(./fonts/Griffiths.otf);
}
@font-face {
    font-family: "l-sans";
    src: url(./fonts/LiberationSans-Regular.ttf);
}
@font-face {
    font-family: "coolvetica";
    src: url(./fonts/Coolvetica\ Rg.otf);
}
@font-face {
    font-family: "fig";
    src: url(./fonts/Figurlce.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "mevera";
}

html, body{
    height: 100vh;
    width: 100%;
}

#mobile-icons{
    width: 100%;
    display: none;
}

#page1{
    height: 100vh; 
    width: 100%;
    /* background-color: #ffffff; */
    position: relative; 

}

#pg1-bg{
    height: 99.9vh;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#pg1-bg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



#nav{
    padding: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black; 
    background-color: #ffffff;
    z-index: 99;
}

.menu-icon{
    display: none;
}

#nav h5{
    font-family: "coolvetica";
        letter-spacing: 1px;
        font-size: 0.8vw;
        font-weight: 100;
}

.nav-start{
    display: flex;
    gap: 20px;
}

.nav-start h5{
    font-size: 0.8vw;
}

.nav-bottom{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.2%;
}

.nav-bottom img{
    height: 6vw;
    width: 6vw;
    margin-top: -1.8vw;
}

.nav-bottom h3{
    font-family: "griff";
    font-weight: 100;
    /* text-transform: uppercase; */
    font-size: 1.5vw;
    font-weight: 600;
}

.nav-end{
    display: flex;
    gap: 20px;
}

.nav-end i{
    font-size: 0.9vw;
}

#denim-jacket{
    height: 40%;
    width: 40%;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translatex(-50%);
}

#denim-jacket img{
    width: 100%;
    object-fit: cover;
    object-position: center;

}

#denim-jacket h3{
    font-size: 8vw;
    font-weight: 100;
    text-align: center;
    margin-bottom: -9vw;
    position: relative;
    z-index: -15;
    font-family: "mollani";
}

#denim-jacket h2{
    margin-top: -2.5vw;
    text-align: center;
    font-size: 0.9vw;
}
#denim-jacket h1{
    font-size: 8vw;
    font-weight: 100;
    text-align: center;
    margin-top: -6vw;
    position: relative;
    z-index: -10;
    font-family: "griff";
    margin-right: 4vw;
}

#page1-products{
    position: relative;
    width: 100%;
    top: 22%;
    gap: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pg1-product1{
    height: 40vh;
    width: 15vw;
    position: relative;
}

.pg1-product1 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.pg1-product1 h5{
    text-align: center;
    font-size: 0.6vw;
    margin-top: -4vw;
}

.pg1-product2{
    height: 35vh;
    width: 15vw;
}

.pg1-product2 img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.pg1-product2 h5{
    text-align: center;
    font-size: 0.6vw;
    margin-top: -1.5vw;
}

/* #page-1-bottom{
    background-color: #3F658A;
    width: 100%;
    position: absolute;
    bottom: 0;
} */

/* .bottom-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 2vw;
} */
/* .bottom-text h2{
    color: #ffffff;
    font-size: 0.8vw;
    font-weight: 200;
    font-family: "yesno";
} */


#page2{
    height: 100vh;
    width: 100%;
}

#page2-products{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.5vw;

}

.box-1{
    height: 45vh;
    width: 16vw;
    border-radius: 2px;
    overflow: hidden;
}
.box-1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box-2{
    height: 38vh;
    width: 14vw;
    border-radius: 2px;
    overflow: hidden;
}
.box-2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box-3{
    height: 48vh;
    width: 15vw;
    border-radius: 2px;
    overflow: hidden;
}
.box-3 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box-4{
    height: 38.5vh;
    width: 13vw;
    border-radius: 2px;
    overflow: hidden;
}
.box-4 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.box-5{
    height: 45vh;
    width: 16.5vw;
    border-radius: 2px;
    overflow: hidden;
}
.box-5 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page2-text{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    position: relative;
    align-items: end;
    justify-content: end;
    padding: 10vw 12vw;
}
#page2-text h5{
    font-family: "l-sans";
    font-size: 0.7vw;
    font-weight: 600;
}

.text-1{
    display: flex;
    gap: 3vw;
}
.text-2{
    display: flex;
    gap: 3vw;
}

#page3{
    
    height: 100vh;
    width: 100%;
    padding: 2vw 4vw;
}
#page3-title{
    width: 70%;
    justify-self: center;
}
#page3-title h2{
    text-align: center;
    font-size: 3vw;
    line-height: 3.5vw;
    font-family: "griff";
    font-weight: 600;
}

#page3-product{
    display: flex;
    width: 100%; 
    padding: 3vw;
    margin-top: 2vw;
    gap: 0.5vw;
    justify-content: center;
    align-items: center;

}

.product-display{
    width: 60%;
    /* background-color: #3F658A; */
    height: 60vh;
    overflow-y: auto;
    scrollbar-width: none;
}
#productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.display-container{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 0.2vw;
}
.display-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-scroller{
    width: 20%;
    height: 60vh;
    /* background-color: yellow; */
    overflow: auto;
    scrollbar-width: none;
}

.pro-container1{
    margin-top: 0.2vw;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
.pro-container1 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.pro-product-details{
    display: flex;
    justify-content: space-between;
}
.pro-container1 h2{
    font-family: l-sans;
    font-size: 0.5vw;
}

#page4{
    height: 100vh;
    width: 100%;
    /* background-color: #eeeeee; */
    padding: 4vw 3vw;
}

#page4-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#page4-title h1{
    font-size: 5vw;
    font-family: "coolvetica";
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#page4-title h3{
    font-size: 1vw;
    font-family: "l-sans";
}

#page4-products{
    margin-top: 5vw;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
.page4-container{
    height: 100%;
    width: 20vw;
    /* background-color: #3F658A; */
}
.page4-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.p4-details{
    display: flex;
    justify-content: space-between;
    padding: 1vw 0.5vw;
    /* background-color: #f3f3f3; */
}
.p4-details h3{
    font-size: 0.8vw;
    font-family: "l-sans";
}

#footer{
    /* height: 100vh; */
    width: 100%;
    background-color: black;
    overflow: hidden;
}

#footer h1{
    color: #ffffff;
    font-size: 23vw;
    font-family: "coolvetica";
    text-align: center;
    font-weight: 100;
    margin-top: -10%;
    /* background-color: #3F658A; */
    
}

.footer-details{
    display: flex;
    justify-content: center;
    gap: 2vw;
}

.footer-services{
    display: flex;
    flex-direction: column;
    line-height: 1.1vw;

}

.footer-services h5{
    color: #bebebe;
    font-family: "l-sans";
    text-transform: capitalize;
    font-size: 0.9vw;
    padding-bottom: 1vw;
}
.footer-services a{
    color: #ffffff;
    font-family: "l-sans";
    text-decoration: none;
    text-transform: capitalize;
}
.footer-services i{
    font-size: 0.9vw;
}

.footer-btm{
    display: flex;
    justify-content: space-between;
    padding: 3vw 3vw;
}
.footer-btm h3{
    color: #ffffff;
    font-family: "l-sans";
    font-size: 1vw;
    font-weight: 100;
}
.social-media a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1vw;
    letter-spacing: 0.5vw;
}



@media only screen and (max-width: 480px) {

    #page1{
    height: 100vh; 
    width: 100%;
    /* background-color: #ffffff; */
    position: relative; 

}

    #mobile-icons{
    width: 100%;
    display: block;
    position: fixed;
    padding: 2vw;
    /* position: absolute; */
    z-index: 999;
    bottom: 0;
}
    .bottom-menu{
        display: flex;
        justify-content: space-between;
        padding: 4vw 5vw;
        border: 0.5px solid rgba(0, 0, 0, 0.342);
        border-radius: 10px;
        background-color: #ffffff;
    }
    .bottom-menu{
        font-size: 4vw;
    }


    #nav{
    padding: 3vw 3vw;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116); 
    }

    #nav h5{
        font-size: 2vw;
    }

    .nav-start{
    display: none;
    }

    .menu-icon{
        display: block;
        margin-top: 1%;
    }
    .menu-icon i{
        font-size: 7vw;
    }
    

    .nav-bottom{
    top: 1.4%;
    }
   

    .nav-bottom h3{
    font-size: 7vw;
    }

    .nav-end{
    display: flex;
    gap: 10px;
    margin-top: 1.6%;
    }

    .nav-end h5{
        display: none;
    }

    .nav-end i{
    font-size: 5vw;
    }


  #page1-products{
    display: none;
}


    #denim-jacket{
    height: 50%;
    width: 100%;
    left: 50%;
    top: 20%;
    }

    #denim-jacket img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;

}
    #denim-jacket h3{
    font-size: 15vw;
    margin-bottom: -40vw
}

    #denim-jacket h2{
    margin-top: -5vw;
    text-align: center;
    font-size: 2vw;
    margin-right: 4vw;
}
    #denim-jacket h1{
    margin-right: 8.8vw;
    font-size: 15vw;
    margin-top: -37vw;
}

    #page-1-bottom{
    background-color: #3F658A;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5vw 3vw;
}
.bottom-text h2{
    color: #ffffff;
    font-size: 2vw;
    /* font-weight: 200; */
    font-family: "yesno";
}

/* Page-2 CSS */

#page2{
    margin-top: -28vh;
}


#page2-products{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5vw;
}

.box-1, .box-2, .box-3, .box-4, .box-5{
    height: 40vw;
    width: 26vw;
}

#page2-text{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 15vw 12vw;
}

#page2-text h5{
    font-size: 1.5vw;
}

#page3{
    margin-top: -35vh;
    justify-self: center;
}
#page3-title{
    width: 100%;
    justify-self: center;
}
#page3-title h2{
    text-align: center;
    font-size: 4.2vw;
    line-height: 5.2vw;
    font-family: "griff";
    font-weight: 600;
}


#page3-product{
    display: flex;
    width: 100%; 
    padding: 3vw;
    margin-top: 30vw;
    justify-content: center;
    align-items: center;
    position: relative;

}

.product-display{
    width: 100%;
    /* background-color: #3F658A; */
    height: 30vh;
    overflow-y: auto;
    scrollbar-width: none;
}
#productImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.display-container{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 0.1vw;
}


.product-scroller{
    width: 50%;
    height: 45vh;
    background-color: #ffffff;
    overflow: auto;
    scrollbar-width: none;
    position: absolute;
    right: 2.5vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur, color */
    
}

.pro-container1{
    margin-top: 0.2vw;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
.pro-container1 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.pro-product-details{
    display: flex;
    justify-content: space-between;
    padding: 0 1.5vw;
}
.pro-container1 h2{
    font-family: l-sans;
    font-size: 1.7vw;
    font-weight: 600;
    letter-spacing: 0.1vw;
    line-height: 2vw;
}




}